@model Share.Entities.Linea

@{
    ViewBag.Title = "Detalle de la línea";

    int max = 0;
    if (Model != null)
    {
        max = Model.tramos.Count();
    }
    ICollection<Share.Entities.Tramo> lst = (ICollection<Share.Entities.Tramo>)ViewBag.listaTramos;
}

<h2 class="mt-3">Detalle de la línea</h2>

<div>
    <h4>Linea</h4>
    <hr />
    <div class="dl-horizontal">
        <div class="form-group row">
            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @readonly="readonly", @class = "form-control" } })
            </div>
        </div>


        <h4 class="mt-5">Paradas</h4>

        <table class="table">
            <tr>
                <th>Orden</th>
                <th>Nombre de la parada</th>
                <th>Tiempo desde la anterior</th>
            </tr>

            @foreach (var item in lst)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.numero)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.parada.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.tiempo)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<p>
    @Html.ActionLink("Volver al menú", "Index")
</p>
