@model UruguayBusWeb.Models.ConfirmarPagoModel

@{
    ViewBag.Title = "ConfirmarPago";
    String keyMP = System.Configuration.ConfigurationManager.AppSettings["MercadoPagoPublicKey"];
    String textAsiento = Model.asiento == 0 ? "Sin asiento" : Model.asiento.ToString();
}

<h2>Confirmar Pago</h2>

<div class="row">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
    @if (Model.accion == UruguayBusWeb.Models.ConfirmarPagoResult.ConfirmarDatos)
    {
            <div class="form-group row">
                @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control col-12", @type = "date", @readonly = "readonly" } })
                </div>
            </div>
            
            <div class="form-group row">
                @Html.LabelFor(model => model.hora, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.hora, new { htmlAttributes = new { @class = "form-control col-12", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.nombreLinea, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.nombreLinea, new { htmlAttributes = new { @class = "form-control col-12", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.nombreParadaOrigen, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.nombreParadaOrigen, new { htmlAttributes = new { @class = "form-control col-12", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.nombreParadaDestino, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.nombreParadaDestino, new { htmlAttributes = new { @class = "form-control col-12", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.asiento, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => textAsiento, new { htmlAttributes = new { @class = "form-control col-12", @type = "text", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.precio, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.precio, new { htmlAttributes = new { @class = "form-control col-12", @readonly = "readonly" } })
                </div>
            </div>

            <!-- botones atras / siguiente -->
            <div class="form-group row">
                <div class="col-md-5"></div>
                <div class="col-md-7 d-flex justify-content-end">
                    <form action="ConfirmarPago" method="post">
                        @Html.HiddenFor(model => model.fecha)
                        @Html.HiddenFor(model => model.hora)
                        @Html.HiddenFor(model => model.idViaje)
                        @Html.HiddenFor(model => model.idLinea)
                        @Html.HiddenFor(model => model.idParadaOrigen)
                        @Html.HiddenFor(model => model.idParadaDestino)
                        @Html.HiddenFor(model => model.asiento)
                        @Html.HiddenFor(model => model.precio)
                        @Html.HiddenFor(model => model.nombreLinea)
                        @Html.HiddenFor(model => model.nombreParadaOrigen)
                        @Html.HiddenFor(model => model.nombreParadaDestino)
                        <script src="https://www.mercadopago.com.uy/integrations/v1/web-tokenize-checkout.js"
                                data-public-key="@keyMP"
                                data-transaction-amount="@Model.precio">
                        </script>
                    </form>
                </div>
            </div>
    }
    else if (Model.accion == UruguayBusWeb.Models.ConfirmarPagoResult.Ok)
    {
        <h1>¡Confirmado!</h1>
        <p>Su reserva se completó con éxito, le hemos enviado un correo electrónico con su pasaje.</p>
        
        <!-- botones atras / siguiente -->
        <div class="form-group row">
            <div class="col-md-5"></div>
            <div class="col-md-7 d-flex justify-content-end">
                <a href="/" class="btn btn-primary">Ir al inicio</a>
            </div>
        </div>
    }
    else if (Model.accion == UruguayBusWeb.Models.ConfirmarPagoResult.Error)
    {
        <h1>¡Algo salió mal!</h1>
        <p>Ha ocurrido un error con el pago. Por favor vuelve a intentarlo:</p>
        
        <!-- botones atras / siguiente -->
        <div class="form-group row">
            <div class="col-md-5"></div>
            <div class="col-md-7 d-flex justify-content-end">
                <form action="ConfirmarPago" method="post">
                    @Html.HiddenFor(model => model.fecha)
                    @Html.HiddenFor(model => model.idViaje)
                    @Html.HiddenFor(model => model.idLinea)
                    @Html.HiddenFor(model => model.idParadaOrigen)
                    @Html.HiddenFor(model => model.idParadaDestino)
                    @Html.HiddenFor(model => model.asiento)
                    @Html.HiddenFor(model => model.precio)
                    @Html.HiddenFor(model => model.nombreLinea)
                    @Html.HiddenFor(model => model.nombreParadaOrigen)
                    @Html.HiddenFor(model => model.nombreParadaDestino)
                    <script src="https://www.mercadopago.com.uy/integrations/v1/web-tokenize-checkout.js"
                            data-public-key="@keyMP"
                            data-transaction-amount="@Model.precio">
                    </script>
                </form>
            </div>
        </div>
    }
        </div>


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
