@model Share.Entities.Viaje

@{
    ViewBag.Title = "IniciarViaje";

    List<SelectListItem> listaViajes = new List<SelectListItem>();
    if (ViewBag.listaViaje != null)
    {
        foreach (var item in (ICollection<Share.Entities.Viaje>)ViewBag.listaViaje)
        {
            listaViajes.Add(new SelectListItem()
            {
                Text = "" + item.horario.linea.nombre + " (" + item.horario.hora + ") ",
                Value = "" + item.id,
            });
        }
    }
}

<h2>Iniciar viaje</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Viaje</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="id">Viajes del dia:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.id, listaViajes, "Seleccione un viaje", new { @class = "custom-select" })
                @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Iniciar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
