@model IEnumerable<Share.Entities.Conductor>

@{
    ViewBag.Title = "ListarConductor";
}

<h2 class="mt-3">Listar Conductor</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.persona.documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.persona.tipo_documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.persona.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.persona.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vencimiento_libreta)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.persona.documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.persona.tipo_documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.persona.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.persona.apellido)
            </td>
            <td>
                @Convert.ToDateTime(item.vencimiento_libreta).ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.ActionLink("Modificar", "ModificarConductor", new { id = item.id })
            </td>
        </tr>
    }

</table>
